#nav-bar {
	position: sticky;
}

.head-icons {
	font-size: 3em;
	margin: 0 .3em 0 .3em;
}

#nav-text {
	margin: 0 .5em 0 .5em;
	line-height: 50px;
	size: 16px;
	color: #04109f;
}

body {
	margin: 0 0 0 0;
}


.container {
	height: 100%;
	display: grid;
	grid-template-columns: 35% repeat(2, minmax(10%, 1fr)) repeat(3, 7.5%) 10%;
	grid-template-rows: 100%;
	grid-gap: 15px;
	text-align: center;
	align-items: center;
}

.tel {
	text-decoration: none;
	color: black;
}


.tel-number {
	display: inline-grid;
	text-align: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
	grid-gap: 1vw;
	grid-auto-rows: 30vw;
	padding-left: 20%;
	padding-right: 20%;
	margin-bottom: 2vw;
	justify-content: center;
}
.card {
	padding: 0;
	text-align: center;
	border: none;
	box-shadow: 0 0 1vw rgba(0,0,0,0.5);
	background-size: cover;
	border-radius: 0.5vw !important;
	font-weight: 600;
	font-size: 2.5vw;
	text-shadow: 0px 0px 1vw rgba(0,0,0,0.7);
}

html, body {
	min-height: 100vh;
	background: linear-gradient(white, black);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.form {
	margin-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-size: 1vw;
	margin-bottom: 3%;
}

input {
	border: none;
	outline: none;
	height: 3vw;
	width: 40vw;
	padding-left: 0.5vw;
	box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.submit-button {
	margin-left: 1vw;
	height: 3vw;
	width: 9vw;
	border: none;
	outline: none !important;
	background-color: #373252;
	color: white;
	box-shadow: 0 0 1vw rgba(0,0,0,0.5);
}

.night {
	background-image: url("/static/img/night.jpg");
}

.day {
background-image: url("/static/img/day.jpg");
}

.evening-morning {
	background-image: url("/static/img/evening-morning.jpg");
}

.wrapper {
	min-height: 100vh;
}


.delete-wrapper {
	text-align: right;
	font-size: 1vw;
	height: 20%;
	width: 100%;
	padding-right: 0.5vw;
	padding-top: 0.4vw;
}

.degrees {
	text-align: center;
	font-size: 2.5vw;
	height: 10%;
}

.day > .degrees {
	color: black;
}

.state {
	text-align: center;
	font-size: 1.5vw;
}

.day > .state {
	color: black;
}

.city {
	text-align: center;
	height: 70%;
	font-size: 2vw;
	display: flex;
	justify-content: center;
    align-items: flex-end;
    padding-bottom: 6%;
	color: white;
}

.day > .state {
	color: black;
}


.alert {
	text-align: center;
	width: 30vw;
	margin: auto;
	margin-bottom: 1vw;
	background-color: #373252;
	color: white;
	border: none;
	padding: 0.5vw;
	border-radius: 0.4vw;
	margin-top: -3%;
}

.celsius {
	font-size: 1.75vw;
}

.delete-button {
	background-color: transparent;
	width: 1.5vw;
	height: 1vw;
	margin: 0;
	padding: 0;
	border: none;
	color: white;
}

.day > .delete-wrapper > form > .delete-button {
	color: black !important;
}

.delete-button:focus, .delete-button:active {
	border: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 0;
}


.time {
    font-size: 2.5vw;
	height: 70%;
	display: flex;
	justify-content: center;
    align-items: flex-end;
    padding-bottom: 6%;
	color: black;
}
