<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="shortcut icon" href="https://img.icons8.com/fluent/48/000000/rainy-weather.png" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="static/img/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<section id="nav-bar">
		<div class="container">
			<a class="nav-text" href="#" style="text-decoration: none">How does our website work and what can it do?</a>
			<a href="https://openweathermap.org/api" style="text-decoration: none">We use this API</a>
			<div class="tel-number">
				<a class="tel" href="tel:38(071)000-00-00">38(071)000-00-00</a>
				<a class="tel2" style="color: red;">Обратная связь</a>
			</div>
			<a class="fa-vk head-icons" href="https://vk.com" target="_blank" style="text-decoration: none; font-family: FontAwesome"></a>
			<a class="head-icons fa-telegram" href="https://web.telegram.org/" target="_blank" style="text-decoration: none; font-family: FontAwesome"></a>
			<a class="fa-instagram head-icons" href="https://www.instagram.com/" target="_blank" style="text-decoration: none; font-family: FontAwesome"></a>
			<a class="nav-text" href="#" style="text-decoration: none">Log in/Sign in</a>
		</div>
	</section>
<div class="form">
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
		<span>{{ message[0] }}</span>
    </div>
    {% endif %}
    {% endwith %}
    <form action="/add" method="POST">
        <input type="text" placeholder="Enter a city name" name="city_name" id="input-city">
        <button type="submit" class="submit-button">Add</button>
    </form>
</div>
<div class="cards">
    {% if weather %}
	{% for city in weather['1'] %}
		{% if city['6'] >= 12 and city['6'] <= 17 %}
			<div class='card day'>
				<div class="delete-wrapper">
					<form action="/delete/{{ city['4'] }}" method="POST">
						<input type="hidden" name="id" value="">
						<button class="delete-button" type="submit">&#10006;</button>
					</form>
				</div>
				<div class="degrees"><span>{{ city['3'] }}<span class="celsius"> °C</span></span></div>
				<div class="state">{{ city['2'] }}</div>
				<div class="time">{{ city['5'] }}</div>
				<div class="empty"></div>
				<div class="city">{{ city['1'] }}</div>
			</div>
		{% else %}
			{% if (city['6'] < 8 or city['6'] >= 22) %}
					<div class='card night'>
						<div class="delete-wrapper">
							<form action="/delete/{{ city['4'] }}" method="POST">
								<input type="hidden" name="id" value="">
								<button class="delete-button" type="submit">&#10006;</button>
							</form>
						</div>
						<div class="degrees"><span>{{ city['3'] }}<span class="celsius"> °C</span></span></div>
						<div class="state">{{ city['2'] }}</div>
						<div class="time">{{ city['5'] }}</div>
						<div class="empty"></div>
						<div class="city">{{ city['1'] }}</div>
					</div>
			{% else %}
				<div class='card evening-morning'>
					<div class="delete-wrapper">
						<form action="/delete/{{ city['4'] }}" method="POST">
							<input type="hidden" name="id" value="">
							<button class="delete-button" type="submit">&#10006;</button>
						</form>
					</div>
					<div class="degrees"><span>{{ city['3'] }}<span class="celsius"> °C</span></span></div>
					<div class="state">{{ city['2'] }}</div>
					<div class="time">{{ city['5'] }}</div>
					<div class="empty"></div>
					<div class="city">{{ city['1'] }}</div>
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
    {% endif %}
</div>
</body>
</html>
